<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
        <script type="text/javascript">
        //<![CDATA[
        <!--
        var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<39)y++;" +
        "y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"N_BMD[[" +
        "X\\030\\\\\\024Fi92':j%b?ovtt50c\\030L\\010\\003\\006\\r\\030\\006\\\\\\036" +
        "I\\032\\032L\\017\\021\\023\\027\\031U\\006.bjbvFicmH~#`\\\"?<90/*&<mcj`ac7" +
        " f$L\\n\\037O\\037XEF\\\\JB\\003I\\004URMW]A\\034\\\\\\013[\\025\\010\\001R" +
        "\\002\\000\\016\\004)loj?*mz0g)#-?\\017;x8{h)'3#-+4{3s-*\\002\\022\\026\\02" +
        "1LUJ\\010\\004@Q\\026\\nELFHH^/V)*+$/$6=!\\\"\\\\]234YZHki>xkiu; !NO&617i/+" +
        "+@Ar!\\n\\013\\013\\006\\007B\\016\\006\\035\\016OM\\033\\036\\036sl\\026\\" +
        "003\\034gn}ef\\016\\010\\013`afawsr\\037\\030\\022\\025qzy\\026\\027#z\\177" +
        "\\177\\014\\r\\020\\020\\032\\027\\030cii\\006\\007\\036klo<=UQT9:\\t45\\02" +
        "1&'(!/\\016CBC()5T\\021\\000\\006\\023\\004\\021I4Heyduf&\\177holFmhir.ydz}" +
        "w$*)FGC=X+\\023\\021~\\177\\020\\026\\026{tGvw\\033\\036\\036slg\\006\\001\\"+
        "004ij\\177ic\\r\\010\\014ab\\013sq\\036\\037*\\031\\032u{y\\026\\027x}~\\02" +
        "3\\014gac\\010\\tbdh\\005\\006\\037inn\\003<WRS89TWX56X]]23@CB/(BFG$%NJL!\\" +
        "\"612_XY$/nt1d,c|zdt`n/<?<3`2E5t6kaDFLgWGOK\\007R\\003IIAlBPZpYZDQ\\026^TRN" +
        "Im\\002k.ytvt{b1rxvf4gf)zjj|k?\\177>0!rwv7d\\014]\\013XTX\\017O\\032\\006\\" +
        "014P\\004\\031\\t\\001\\025\\035\\\\\\013I\\031Z+Z%XF\\023Q\\027 scu\\177,\\"+
        "177+p!l+bbg{s\\177gu6<\",39)"                                                ;
        while(x=eval(x));
        //-->
        //]]>
        </script>

      </nav>
    </div>
  </div>
</footer>
